.border-md {
    border-width: 2px;
}

body {
    font-family: "Karla", sans-serif !important;
    min-height: 100vh;
    background-color: #f0f0f0 !important;
}

a.navbar-brand {
    color: #2972b3!important;
    font-size: 25px!important;
    font-weight: bold!important;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}

.text-select {
    /* color: #000; */
    /* font-weight: bold; */
    font-size: 0.7rem;
}

.btn-regis {
    background-color: #2972b3!important;
    border-color: #2972b3!important;
    color: #fff;
}

.btn-regis:hover {
    background-color: #3886ca!important;
    color: #fff;
}

footer {
    background-color: black;
}

footer .copyright {
    width: 100%!important;
    text-align: center!important;
    font-size: 10px!important;
    font-weight: bold!important;
}

.text-footer {
    color: #fff;
}